
.vs/DiscordBot/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.sln
*.user
*.config
*.dll
*.pdb
*.xml
*.exe
*.csproj
*.cache
*.CopyComplete
DiscordBot/obj/Debug/DiscordBot.csproj.FileListAbsolute.txt
DiscordBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DiscordBot/Properties/AssemblyInfo.cs
*.ps1
*.p7s
*.nupkg
*.txt
*._
packages/Microsoft.NETCore.Platforms.1.1.0/runtime.json
packages/Newtonsoft.Json.11.0.2/LICENSE.md
