
.vs/DiscordBot/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.user
*.config
*.dll
*.pdb
*.xml
*.exe
*.cache
*.CopyComplete
DiscordBot/obj/Debug/DiscordBot.csproj.FileListAbsolute.txt
DiscordBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.ps1
*.p7s
*.nupkg
*.txt
*._
packages/Microsoft.NETCore.Platforms.1.1.0/runtime.json
packages/Newtonsoft.Json.11.0.2/LICENSE.md
DiscordBot/CrashHandler/CrashHandler/obj/project.assets.json
DiscordBot/CrashHandler/CrashHandler/bin/Debug/netcoreapp2.1/CrashHandler.deps.json
DiscordBot/CrashHandler/CrashHandler/bin/Debug/netcoreapp2.1/CrashHandler.runtimeconfig.dev.json
DiscordBot/CrashHandler/CrashHandler/bin/Debug/netcoreapp2.1/CrashHandler.runtimeconfig.json
DiscordBot/CrashHandler/CrashHandler/obj/CrashHandler.csproj.nuget.g.props
DiscordBot/CrashHandler/.vs/CrashHandler/v15/.suo
DiscordBot/CrashHandler/CrashHandler/obj/CrashHandler.csproj.nuget.g.targets
DiscordBot/CrashHandler/CrashHandler/obj/Debug/netcoreapp2.1/CrashHandler.AssemblyInfo.cs
DiscordBot/CrashHandler/CrashHandler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DiscordBot/CrashHandler/CrashHandler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DiscordBot/CrashHandler/CrashHandler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DiscordBot/bin/Debug/users.txt
